@model IEnumerable<Hotel.Admin.Areas.Admin.DTOs.Article.IndexArticleDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách bài viết</h1>

<button class="btn btn-success my-3">
    <a asp-action="Create" class="text-decoration-none text-white">Thêm bài mới</a>
</button>
<table class="table table-hover table-bordered">
	<colgroup>
		<col style="width: 5%" />
		<col style="width: 15%" />
		<col style="width: 45%" />
		<col style="width: 10%" />
		<col style="width: 15%" />
		<col style="width: 10%" />
    <thead class="text-center">
        <tr>
            <th>
              ID
            </th>
            <th>
                Tên bài viết
            </th>
            <th>
                Nội dung
            </th>
            <th>
                Ảnh
            </th>
            <th>
                Danh mục tin tức
            </th>
            <th>Tùy chỉnh</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
				<img src="@item.Image" class="img-thumbnail" width="100px" height="100px" />
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Xóa", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
